BasedOnStyle: LLVM
InsertNewlineAtEOF: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^("utopia\/utopia_pch.hpp")'
    Priority: -1
  # Header in starting with "utopia"
  - Regex: '"^(utopia)\/"'
    Priority: 1
  # Headers in "" with extension.
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 2
    # Headers in <> without extension.
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 4
  # Headers in <> with extension.
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 3
